{
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSameLine": true,
    "semi": false,
    "singleQuote": true
}
